@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Poppins:wght@700&display=swap');

:root {
    --color-blue: #0d6efd;
    --color-cyan: #0dcaf0;
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #6c757d;
    --color-gray-dark: #343a40;
    --color-gray-100: #f8f9fa;
    --color-gray-200: #e9ecef;
    --color-gray-300: #dee2e6;
    --color-gray-400: #ced4da;
    --color-gray-500: #adb5bd;
    --color-gray-600: #6c757d;
    --color-gray-700: #495057;
    --color-gray-800: #343a40;
    --color-gray-900: #212529;
    --color-info: #0dcaf0;
    --color-dark: #212529;
    --color-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --color-info: rgb(13, 202, 240);
    --color-dark: rgb(33, 37, 41);
    --color-black: rgb(0, 0, 0);
    --color-secondary-color: rgba(33, 37, 41, 0.75);
    --color-secondary-color: rgb(33, 37, 41);
    --color-secondary-bg: rgb(233, 236, 239);
    --color-tertiary-color: rgba(33, 37, 41, 0.5);
    --color-tertiary-color: rgb(33, 37, 41);
    --color-border-color-translucent: rgba(0, 0, 0, 0.175);
    --color-box-shadow: rgba(0, 0, 0, 0.15);
    --color-box-shadow: rgba(0, 0, 0, 0.075);
    --color-box-shadow-lg: rgba(0, 0, 0, 0.175);
    --color-box-shadow-inset: inset rgba(0, 0, 0, 0.075);
    --color-focus-ring-color: rgba(13, 110, 253, 0.25);
}
