@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia');

:root {
    --color-blue: #0d6efd;
    --color-cyan: #0dcaf0;
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #6c757d;
    --color-gray-dark: #343a40;
    --color-gray-100: #f8f9fa;
    --color-gray-200: #e9ecef;
    --color-gray-300: #dee2e6;
    --color-gray-400: #ced4da;
    --color-gray-500: #adb5bd;
    --color-gray-600: #6c757d;
    --color-gray-700: #495057;
    --color-gray-800: #343a40;
    --color-gray-900: #212529;
    --color-info: #0dcaf0;
    --color-dark: #212529;
    --color-info-bg: rgb(13, 202, 240);
    --color-dark-bg: rgb(33, 37, 41);
    --color-black-bg: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
}

/* NAVIGATION AREA STYLE START */

#bg-color {
    background-color: var(--color-dark-bg);
}

.font-style {
    font-family: 'sofia', sans-serif;
}

/* NAVIGATION AREA STYLE END */