@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Poppins:wght@700&family=Roboto&display=swap');


:root {
    --color-main: #0EF;
    --color-black: #000;
    --color-white: #fff;
    --color-gray-800: #343a40;
    --color-gray-900: #212529;
    --color-dark: #212529;
    --color-info-bg: rgb(13, 202, 240);
    --color-dark-bg: rgb(33, 37, 41);
    --color-black-bg: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
}

/* NAVIGATION AREA STYLE START */

.navbar {
    background-color: var(--color-dark-bg);
}

.navbarTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo-name .name {
    color: var(--color-main);
    font-family: 'sofia', sans-serif;
    font-size: 1.5rem;
    cursor: default;
    position: absolute;
    top: 0.8rem;
    left: 3rem;
}

/* .logo-name span {
    color: #FFFF00;
    display: inline-block;
} */

.button-hover button {
    background-color: transparent;
    color: var(--color-main);
    transition: .5s ease;
    transform: translate(50%);
    display: block;
}

.button-hover button:hover {
    background-color: var(--color-main);
    color: var(--color-black-bg);
    border: none;
    transform: translate(0);
}

.nav-item {
    font-size: 1rem;
    font-family: 'poppins', sans-serif;
}

.nav-item a {
    display: block;
    color: #FFF;
    transition: .5s;
    transform: .5s;
}

.nav-item a:hover {
    color: var(--color-main);
    text-shadow: 0 0 9px var(--color-main);
    transform: scaleY(2.1);
}

.nav-item a:nth-of-type(1) {
    color: var(--color-main);
    text-shadow: 0 0 .5rem var(--color-main);
}

.nav-item a:nth-of-type(1):hover {
    text-shadow: none;
}

.git-icon a {
    color: var(--color-main);
    background-color: var(--color-gray-800);
    border: 5px;
    box-shadow: 0 0 5rem var(--color-main);
    cursor: pointer;
    transition: .5s ease;
    /* transform: scale(70%); */
    padding: .5rem 1rem;
}

.git-icon a:hover {
    background-color: var(--color-main);
    color: var(--color-gray-800);
    /* transform: scale(0); */
    box-shadow: none;
}

.git-icon {
    transform: scale(70%);
    transition: .5s ease-in;
}

.git-icon:hover {
    transform: scale(1.1);
}

.git-icon i {
    font-size: 1.5rem;
    /* color: var(--color-dark-bg); */
}

/* NAVIGATION AREA STYLE END */

/* PORTFOLIO AREA STYLE START */

.portfolio {
    background-color: var(--color-gray-800);
}

/* .profile-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
} */

.profile-text .text {
    padding: 2rem 0 0 0;
}

.text h2 {
    font-size: 1rem;
    color: var(--color-white);
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
    padding: 0 0 .1rem 0;
    line-height: 1.1;
}

.text h2 span {
    color: var(--color-main);
    font-size: 1.5rem;
}

.text p {
    color: var(--color-white);
    line-height: 1.2;
    font-size: 1rem;
    font-family: 'poppins,roboto', sans-serif;
    font-weight: 600;
    /* width: 500px; */
    /* clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
    padding-top: 1rem;
}

.social-media {
    margin: 1rem 0 0 0;
}

.social-media ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style-type: none;
}

.social-media ul li {
    margin: 0 1rem 0 0;
}

.social-media a {
    background: transparent;
    color: var(--color-main);
    display: block;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 9px var(--color-main);
    transition: .5s ease-in-out;
    transform: scale(90%);
}

.social-media ul li a i {
    font-size: 1.5rem;
    font-weight: 900;
}

.social-media a:hover {
    background-color: var(--color-main);
    box-shadow: none;
    color: var(--color-gray-900);
    transform: scale(1.1);
}

.image {
    margin: 1rem 0 0 0;
    text-align: center;
}

.image img {
    width: 300px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: 5px solid var(--color-main);
    box-shadow: 0 0 9px var(--color-main);
    filter: blur(5px);
    margin: 1rem 0 5rem 0;
    transition: .5s ease;
}

.image img:hover {
    cursor: pointer;
    filter: none;
}

/* PORTFOLIO AREA STYLE END */