@media(min-width: 768px) {
    .profile-text {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .text p {
        width: 350px;
    }
}

/* LAPTOP SCREEN */
@media(min-width: 992px) {
    ul li a {
        margin-right: 2.5rem;
    }

    .logo-name {
        margin: 0 10rem 0 0;
    }
}